<div *ngIf="details">
    <!-- Picture Card -->

    <div class="row ml-2">
        <div class="card ml-1" id="detailCard">
            <div class="card-header">
                <h5 class="card-title text-center" id="cardTitle">{{ details.name }}</h5>
            </div>
            <img class="card-img-top" [src]='getImage()' alt="Card image cap" id="pokemonImage">
            <div class="card-body">

            </div>
        </div>

        <!-- BaseStats Card -->

        <div class="card ml-1" id="detailCard">
            <div class="card-header">
                <h4>Base Stats</h4>
            </div>

            <div class="card-body">

                <div>
                    <div class="row ml-4">
                        <b>Types:&nbsp;</b>

                        <p *ngFor="let key of typekeys; last as isLast"> {{details.types[key].type.name}}<span
                                *ngIf="!isLast">,&nbsp;</span> </p>

                    </div>
                </div>

                <div><b>BaseStats:</b><br><br>
                    <ul *ngFor="let key of baseStatsKeys">
                        <div class="row border-bottom">
                            <div class="col">
                                <i>{{details.stats[key].stat.name}}:</i>
                            </div>
                            <div class="col">
                                {{details.stats[key].base_stat}}
                            </div>
                        </div>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Profile Card -->
        <div class="card m-1" id="detailCard">
            <div class="card-header">
                <h4>Profile</h4>
            </div>
            <div class="card-body">
                <div><b>Base Experience:</b> {{details.base_experience}}</div>
                <br>
                <div><b>Height:</b> {{details.height}}</div>
                <br>
                <div><b>Weight:</b> {{details.weight}}</div>
                <br>
                <div class="row ml-2">
                    <b>Abilites:&nbsp;</b>
                    <p *ngFor="let key of abilitiesKeys;last as isLast">
                        {{details.abilities[key].ability.name}}<span *ngIf="!isLast">,&nbsp;</span> </p>

                </div>

            </div>
        </div>

        <!-- Moves Card -->
        <div class="card m-1" id="movesCard">
            <div class="card-header">
                <h4>Moves</h4>
            </div>
            <div class="card-body" id="movesBody">
                <div class="scrollable" id="scrollable">
                    <div class="row ml-1 mr-1">

                        <span *ngFor="let key of movesKeys; last as isLast">{{details.moves[key].move.name}}<span
                                *ngIf="!isLast">,&nbsp;</span> </span>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row ml-3">
        <button *ngIf="areCollecting ==true" class="btn btn-primary mr-2" (click)="collect(details.name)" data-toggle="modal" data-target="#infoModal">Collect
            Pokemon!</button>
        <button class="btn btn-warning mr-2" (click)="back()">Back</button>
        
    </div>
