<h1>Base Stats</h1>
<div *ngIf="details">
    <div>Types:
        <ul *ngFor="let key of typekeys">
            {{details.types[key].type.name}}

        </ul>
    </div>
    <div>BaseStats:
        <ul *ngFor="let key of baseStatsKeys">
            {{details.stats[key].stat.name}}: {{details.stats[key].base_stat}}

        </ul>
    </div>
    <div>Name: {{details.name}}</div>


    <h1>Profile</h1>
    <div>Height: {{details.height}}</div>
    <div>Weight: {{details.weight}}</div>
    <div>Abilites:
        <ul *ngFor="let key of abilitiesKeys">
            {{details.abilities[key].ability.name}}

        </ul>
    </div>
    <div>Base Experience: {{details.base_experience}}</div>

    <h1>Moves</h1>
    <div>
        <ul *ngFor="let key of movesKeys">
            {{details.moves[key].move.name}}
        </ul>
    </div>

    <button (click)="collect(details.name)">Collect Pokemon!</button>
</div>